---
import Card from "../components/Card";
import NeonCheckbox from "../components/NeonCheckbox";
import Searcher from "../components/Searcher";

import "../styles/global.astro";
import fs from "fs";
import path from "path";
import scrapper from "../functions/scrapper";

// Ruta del archivo JSON local
const filePath = path.resolve("./data/stock.json");

// Leer el archivo JSON de manera síncrona
let productData = [];
try {
	const rawData = fs.readFileSync(filePath, "utf-8");
	productData = JSON.parse(rawData);
} catch (error) {
	console.error("Error leyendo el archivo JSON:", error);
}

// Pasar los datos al componente Card
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>DaybarT-Shop</title>
		<script src="https://cdn.jsdelivr.net/pyodide/v0.23.4/full/pyodide.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="div-login">
				<NeonCheckbox client:load />
				<!-- <Searcher/> -->
				<button on:click={() => {
					
					scrapper('IF6490');
				}}>Buscar</button>

				
			</div>
			<br />
			<div class="div-father">
				{
					productData.length === 0 ? (
						<div style="padding-top: 150px; font-size: 100px; background-color:#090b11;">NO STOCK</div>
					) : (
						productData.map((product, index) => (
							<Card key={index} {...product} />
						))
					)
				}
			</div>
		</div>
	</body>
</html>
