---
import App from "./App";
import "../styles/global.astro";
const ENV = import.meta.env;

// Obtiene los datos de la API en el servidor antes de renderizar la página
const response = await fetch(ENV.BASE_URL + ENV.getStock);
const stock = await response.json();
// Pasar los datos al componente Card
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>dat.snkrs</title>
  </head>
  <body>
    <App ENV={ENV} stock={stock} client:load />
  </body>
</html>
